.header-container {
    height: 60px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.header-container h1 {
    margin: 0px 0px 0px 10px;
    padding: 0;
    align-content: center;
}

.header-container__links {
    margin: 0px 20px 0px auto;
    align-content: center;
}

.header-container__links a {
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
}

.header-container__links a:hover {
    opacity: 0.6;
}