.login-overlay {
    display: flex;
    flex-direction: row;
    height: 98%;
    width: 98%;
    background: white;
    border-radius: 4px;
}

.login-overlay__detail {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    background: blue;
    border-radius: 4px 0px 0px 4px;
}

.login-overlay__login {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
}

.login-overlay__login_exit {
    position: fixed;
    top: 15px;
    right: 25px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.login-inner {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: grey;
}

.login-inner_entry {
    display: flex;
    flex-direction: column;
}

.login-inner_entry input[type="text"] {
    width: 125px;
    justify-self: flex-end;
    border-radius: 4px;
    border: none;
}